* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Nav {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-left: 40px;
}

#Nav > h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 1;
    color: white;
    margin-bottom: 8px;
    text-align: left; 
}

#Nav > p {
    margin-top: 5px;
    font-size: 14px;
    color: #A3A3A3;
    text-align: left; 
    max-width: 600px; 
}


@media (max-width: 600px) {
    #Nav {
        padding-left: 20px; 
    }

    #Nav > h1 {
        font-size: 1.5rem; 
    }

    #Nav > p {
        font-size: 13px; 
        max-width: 100%; 
    }
}
